.tropical {
  font-style: fantasy;
  color: #7dc410;

}
.popular {
  font-style: oblique;
  color: red;
  background-color: black;
}
.important {
  font-style: italic;
  background-color: orange;
  backface-visibility: visible;

}
.unimportant {
  font-family: monospace;
}
